<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Designation</title>
    <link rel="stylesheet" href="/content/css/addDesignation.css">
</head>
<body>
    <div class="container">
        <div class="title">Add Designation</div>
        <div class="content">

          <form action="#">
            <div class="add-designation">
                <div class="input-box">
                    <span class="details">Name</span>
                    <input type="text" placeholder="Enter the name" required>
                </div>
                <div class="input-box">
                    <span class="details">Designation</span>
                    <input type="text" placeholder="Enter the designation" required>
                </div>  
                <div class="button">
                    <input type="submit" value="Add">
                </div>
            </div>     
</body>
</html>